Velib_5_4_2018/ConsoleSOAP/ConsoleSOAP/Connected Services/Stations/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerSOAPToREST" />
  <xs:element name="GetStationsByCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsByCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerSOAPToREST" minOccurs="0" name="GetStationsByCityResult" nillable="true" type="q1:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStationDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCacheSettingsSlide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="slideTime" type="xs:int" />
        <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCacheSettingsSlideResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSubscribeSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="slideTime" type="xs:int" />
        <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSubscribeSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscriptionRefreshed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toPrint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>