Velib_1_4_2018/ConsoleAdmin/ConsoleAdmin/Connected Services/AdminService/Admin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Admin" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/admin?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/admin?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdmin_GetDetailsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsUser" />
  </wsdl:message>
  <wsdl:message name="IAdmin_GetDetailsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmin_GetGeneralMonitoring_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneralMonitoring" />
  </wsdl:message>
  <wsdl:message name="IAdmin_GetGeneralMonitoring_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneralMonitoringResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdmin">
    <wsdl:operation name="GetDetailsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/GetDetailsUser" message="tns:IAdmin_GetDetailsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/GetDetailsUserResponse" message="tns:IAdmin_GetDetailsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeneralMonitoring">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/GetGeneralMonitoring" message="tns:IAdmin_GetGeneralMonitoring_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/GetGeneralMonitoringResponse" message="tns:IAdmin_GetGeneralMonitoring_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdmin" type="tns:IAdmin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDetailsUser">
      <soap:operation soapAction="http://tempuri.org/IAdmin/GetDetailsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneralMonitoring">
      <soap:operation soapAction="http://tempuri.org/IAdmin/GetGeneralMonitoring" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Admin">
    <wsdl:port name="BasicHttpBinding_IAdmin" binding="tns:BasicHttpBinding_IAdmin">
      <soap:address location="http://localhost:8733/admin/admin" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>