Velib_1_4_2018/ConsoleSOAP/ConsoleSOAP/Connected Services/Stations/Velib.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Velib" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerSOAPToREST" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVelib_GetStationsByCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsByCity" />
  </wsdl:message>
  <wsdl:message name="IVelib_GetStationsByCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsByCityResponse" />
  </wsdl:message>
  <wsdl:message name="IVelib_GetStationDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationDetails" />
  </wsdl:message>
  <wsdl:message name="IVelib_GetStationDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IVelib_ChangeCacheSettingsSlide_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCacheSettingsSlide" />
  </wsdl:message>
  <wsdl:message name="IVelib_ChangeCacheSettingsSlide_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCacheSettingsSlideResponse" />
  </wsdl:message>
  <wsdl:portType name="IVelib">
    <wsdl:operation name="GetStationsByCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelib/GetStationsByCity" message="tns:IVelib_GetStationsByCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelib/GetStationsByCityResponse" message="tns:IVelib_GetStationsByCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelib/GetStationDetails" message="tns:IVelib_GetStationDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelib/GetStationDetailsResponse" message="tns:IVelib_GetStationDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeCacheSettingsSlide">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelib/ChangeCacheSettingsSlide" message="tns:IVelib_ChangeCacheSettingsSlide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelib/ChangeCacheSettingsSlideResponse" message="tns:IVelib_ChangeCacheSettingsSlide_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVelib" type="tns:IVelib">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStationsByCity">
      <soap:operation soapAction="http://tempuri.org/IVelib/GetStationsByCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationDetails">
      <soap:operation soapAction="http://tempuri.org/IVelib/GetStationDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeCacheSettingsSlide">
      <soap:operation soapAction="http://tempuri.org/IVelib/ChangeCacheSettingsSlide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Velib">
    <wsdl:port name="BasicHttpBinding_IVelib" binding="tns:BasicHttpBinding_IVelib">
      <soap:address location="http://localhost:8733/service/velib" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>